@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang|Montserrat');


h1 {  
  font-family: 'Montserrat', sans-serif;
  background: url(https://image.shutterstock.com/image-photo/starry-night-260nw-95471887.jpg);
  color: white;
  
}

span {
  font-size: 30px;
  color: slategray;
}

p {

}

.center {
    margin: 5px 5px 5px 10px;
    width: 93%;
    padding: 50px;
    text-align: center;
}

img {
  width: 25%
}

.product-image img{
  float: left;
  margin-left: 250px;
  padding: 45px
  
}

.product-details {
  float: left;
  margin-left: 150px;
  padding: 130px 0 0 60px
}

#formatting {
  font-family: 'Kirang+Haerang', cursive;
}

marquee {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

.quote {
  font-size: 15px;
  font-family: "Montserrat";
  color: gray;
}